<% provide(:title, t(".about")) %>
<h1><%= t ".about" %></h1>
<p>
  <%= t ".the" %>
  <%= link_to Settings.url_railstutorial do %>
    <em><%= t ".ruby_on_rails_tutorial" %></em>
  <% end %>
  <%= t ".is_a" %>
  <%= link_to (t ".book"), Settings.url_railstutorial_book %>
  <%= t ".and" %>
  <%= link_to (t ".screencast_series"), Settings.url_screencasts %>
  <%= t ".to_teach_web_development_with" %>
  <%= link_to t(".ruby_on_rails"), Settings.url_rubyonrails %>
  <%= t ".This_is_the_sample_application_for_the_tutorial" %>
</p>
